@tailwind base;
@tailwind components;
@tailwind utilities;

@import "swiper/css";
@import "swiper/css/pagination";

.swiper-wrapper {
  width: 100%;
  height: max-content !important;
  padding-bottom: 64px !important;
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #4F46E5 !important; /* Customize color here */
}

/* Optional: Add smooth transitions for text appearance */
.group:hover p {
  transform: translateY(0);
  opacity: 1;
}
